*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #050e18 !important;
    color: #e8e6e3 !important;
  }
  
  .app {
    height: 100%;
    display: flex;
    position: relative;
  }
  

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  